.good {
  padding-top: 10px;
  margin-bottom: 100px;
  display: none; //flex
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  @include laptop {
    padding-top: 26px;
  }
  @include tablet {
    padding-top: 14px;
    margin-bottom: 80px;
  }
  @include mobile {
    padding-top: 5px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 60px;
  }
  &__image {
    height: 622px;
    @include laptop {
      height: 478px;
    }
    @include tablet {
      height: 330px;
    }
    @include mobile {
      height: 383px;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 16px;
    @include tablet {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 12px;
    }
    @include tablet {
      margin-bottom: 8px;
    }
  }
  &__price {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
    @include tablet {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 16px;
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $grey;
    margin-bottom: 8px;
    @include tablet {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 10px;
    }
    @include mobile {
      margin-bottom: 8px;
    }
  } 
  &__artic {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $grey;
    margin-bottom: 24px;

    @include tablet {
      margin-bottom: 16px;
    }
    @include mobile {
      margin-bottom: 12px;
    }
    &-number {
      color: $main-color;
    }
  }
  &__colors {
    margin-bottom: 24px;
    @include tablet {
      margin-bottom: 16px;
    }
    @include mobile {
      margin-bottom: 12px;
    }
    &-title {
      margin-bottom: 8px;
      @include tablet {
        margin-bottom: 10px;
      }
      @include mobile {
        margin-bottom: 8px;
      }
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &__size {
    margin-bottom: 23px;
    @include tablet {
      bottom: 16px;
    }
    @include mobile {
      margin-bottom: 12px;
    }
    &-list {
      display: flex;
      align-items: center;
      gap: 4px;
    } 
    &-button {
      padding: 3.5px 14px;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      border: 0.5px solid $main-color;
      transition: background-color 0.3s ease-in;
      &:hover {
        background-color: $light-grey;
      }
    }
  }
  &__text {
    margin-bottom: 40px;
    @include tablet {
        margin-bottom: 16px;
      }
    @include mobile {
      margin-bottom: 24px;
    }
    &-text {
      font-size: 16px;
      line-height: 140%;
      max-width: 290px;
      @include tablet {
        font-size: 12px;
      }
    }
  }
  
  &__row {
    display: flex;
    align-items: center;
  }
  &__counter {
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 14px 16px;
    border: 0.5px solid #000000;
    margin-right: 24px;
    @include tablet {
      padding: 10px 16px 7px 16px;
      font-size: 14px;
      line-height: 17px;
      margin-right: 20px;
    }
    @include mobile {
      margin-right: 10px;
    }
  }
  &__button {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 14px 41px;
    color: $second-color;
    background-color: $main-color;
    margin-right: 16px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      color: $light-grey;
      background-color: $dark-grey;
    }

    @include tablet {
      font-size: 10px;
      line-height: 12px;
      margin-right: 8px;
    }
    @include tablet {
      padding: 12px 41px;
    }
  }
  &__favorite {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 20.25C12 20.25 2.625 15 2.625 8.62501C2.62519 7.49826 3.01561 6.40635 3.72989 5.53493C4.44416 4.66351 5.4382 4.06636 6.54299 3.84501C7.64778 3.62367 8.79514 3.79179 9.78999 4.32079C10.7848 4.84979 11.5658 5.70702 12 6.74673L12 6.74673C12.4342 5.70702 13.2152 4.84979 14.21 4.32079C15.2049 3.79179 16.3522 3.62367 17.457 3.84501C18.5618 4.06636 19.5558 4.66351 20.2701 5.53493C20.9844 6.40635 21.3748 7.49826 21.375 8.62501C21.375 15 12 20.25 12 20.25Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    transition: background-image 0.3s ease-in-out;
    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 20.25C12 20.25 2.625 15 2.625 8.62501C2.62519 7.49826 3.01561 6.40635 3.72989 5.53493C4.44416 4.66351 5.4382 4.06636 6.54299 3.84501C7.64778 3.62367 8.79514 3.79179 9.78999 4.32079C10.7848 4.84979 11.5658 5.70702 12 6.74673L12 6.74673C12.4342 5.70702 13.2152 4.84979 14.21 4.32079C15.2049 3.79179 16.3522 3.62367 17.457 3.84501C18.5618 4.06636 19.5558 4.66351 20.2701 5.53493C20.9844 6.40635 21.3748 7.49826 21.375 8.62501C21.375 15 12 20.25 12 20.25Z' stroke='red' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
    &--active {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='red' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 20.25C12 20.25 2.625 15 2.625 8.62501C2.62519 7.49826 3.01561 6.40635 3.72989 5.53493C4.44416 4.66351 5.4382 4.06636 6.54299 3.84501C7.64778 3.62367 8.79514 3.79179 9.78999 4.32079C10.7848 4.84979 11.5658 5.70702 12 6.74673L12 6.74673C12.4342 5.70702 13.2152 4.84979 14.21 4.32079C15.2049 3.79179 16.3522 3.62367 17.457 3.84501C18.5618 4.06636 19.5558 4.66351 20.2701 5.53493C20.9844 6.40635 21.3748 7.49826 21.375 8.62501C21.375 15 12 20.25 12 20.25Z' stroke='red' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='red' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 20.25C12 20.25 2.625 15 2.625 8.62501C2.62519 7.49826 3.01561 6.40635 3.72989 5.53493C4.44416 4.66351 5.4382 4.06636 6.54299 3.84501C7.64778 3.62367 8.79514 3.79179 9.78999 4.32079C10.7848 4.84979 11.5658 5.70702 12 6.74673L12 6.74673C12.4342 5.70702 13.2152 4.84979 14.21 4.32079C15.2049 3.79179 16.3522 3.62367 17.457 3.84501C18.5618 4.06636 19.5558 4.66351 20.2701 5.53493C20.9844 6.40635 21.3748 7.49826 21.375 8.62501C21.375 15 12 20.25 12 20.25Z' stroke='red' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      }
    }
  }
}